click==8.0.1
Flask==2.0.1
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mypy==0.910
mypy-extensions==0.4.3
pyparsing==2.4.7
rdflib==6.0.0
six==1.16.0
SPARQLWrapper==1.8.5
toml==0.10.2
typing-extensions==3.10.0.0
Werkzeug==2.0.1
