astroid==2.6.5
click==8.0.1
Flask==2.0.1
isodate==0.6.0
isort==5.9.2
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
mypy==0.910
mypy-extensions==0.4.3
owlrl==5.2.1
pylint==2.9.5
pyparsing==2.4.7
pyshacl==0.15.0
rdflib==6.0.0
rdflib-jsonld==0.6
six==1.16.0
SPARQLWrapper==1.8.5
toml==0.10.2
types-setuptools==57.0.0
typing-extensions==3.10.0.0
Werkzeug==2.0.1
wrapt==1.12.1
